@media screen and (max-width:768px) 
{ 
	.container
	{
		display: grid;
		grid-template-areas: 
		'header'
		'myself' 
		'education' 
		'links' 
		'interests' 
		'skills' 
		'hobbies' 
		'movies' 
		'footer';
		gap: 0.7rem;
	}
	
	header
	{
		flex-direction: column;
	}
	
	header nav
	{
        margin-top: 5pt;
		margin-left: inherit;
		text-align: center;
		padding-top: 5pt;
	}
	
	header nav ul
	{
		flex-direction: column;
	}
	
	header nav ul li
	{
		padding-top: 5pt;
	}

	#myself
	{
		flex-direction: column;
	}
	
	figure
	{
		text-align: center;
	}

    #movies
    {
        margin-bottom: 0.2em;
    }
	
	.skillContainer li
	{
		grid-template-columns: 50pt auto;
	}

	.school
	{
   		min-width: 50pt;
	}
    
    footer
    {
		margin-top:-5pt;
        font-size: 10pt;
    }
}
